<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.base.MqttServerMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.base.MqttServer">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="PORT" jdbcType="VARCHAR" property="port" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CLIENT_ID" jdbcType="VARCHAR" property="clientId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="MODIFIED_BY" jdbcType="BIGINT" property="modifiedBy" />
    <result column="MODIFIED_AT" jdbcType="TIMESTAMP" property="modifiedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, IP, PORT, USERNAME, PASSWORD, CLIENT_ID, STATUS, CREATED_BY, CREATED_AT, MODIFIED_BY, 
    MODIFIED_AT
  </sql>
  <sql id="Base_Where_Clause">
    where 1 = 1
    <if test="params.ip != null and params.ip != ''">
      and IP = #{params.ip,jdbcType=VARCHAR}
    </if>
    <if test="params.port != null and params.port != ''">
      and PORT = #{params.port,jdbcType=VARCHAR}
    </if>
    <if test="params.username != null and params.username != ''">
      and USERNAME = #{params.username,jdbcType=VARCHAR}
    </if>
    <if test="params.password != null and params.password != ''">
      and PASSWORD = #{params.password,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mqtt_server
    <include refid="Base_Where_Clause" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mqtt_server
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mqtt_server
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fc.test.model.base.MqttServer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into mqtt_server (ID, IP, PORT, 
      USERNAME, PASSWORD, CLIENT_ID, 
      STATUS, CREATED_BY, CREATED_AT, 
      MODIFIED_BY, MODIFIED_AT)
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=BIGINT}, #{modifiedAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.base.MqttServer">
    update mqtt_server
    set IP = #{ip,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      MODIFIED_BY = #{modifiedBy,jdbcType=BIGINT},
      MODIFIED_AT = #{modifiedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>