<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js+css3温度计摄氏度特效 - 站长素材</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="wrapper">
    <div id="termometer">
        <div id="temperature" style="height:0" data-value="0°C"></div>
        <div id="graduations"></div>
    </div>

    <div id="playground">
        <div id="range">
            <input id="minTemp" type="text" value="-20">
            <input type="range" min="-20" max="50" value="42">
            <input id="maxTemp" type="text" value="50">
        </div>
        <p id="unit">摄氏度 C°</p>
    </div>

</div>


</body>
<script src="js/script.js"></script>
</html>